# Lecture 16: Writing Functions in R
<div style="border: 1px double black; padding: 10px; margin: 10px">

**After today's lecture you will understand:**
* how to write functions in R
</div>

This correpsonds to Chapter 26 of your book

In [ ]:
library(tidyverse)
remotes::install_github("bradleyboehmke/harrypotter")
install.packages("tidytext")
library(harrypotter)
library(tidytext)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.1     ✔ purrr   1.0.1
✔ tibble  3.2.0     ✔ dplyr   1.1.0
✔ tidyr   1.3.0     ✔ stringr 1.4.1
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Downloading GitHub repo bradleyboehmke/harrypotter@HEAD

── R CMD build ─────────────────────────────────────────────────────────────────
* checking for file ‘/tmp/RtmpXRCotN/remotes46c5249d3e8/bradleyboehmke-harrypotter-51f7146/DESCRIPTION’ ... OK
* preparing ‘harrypotter’:
* checking DESCRIPTION meta-information ... OK
* checking for LF line-endings in source and make files and shell scripts
* checking for empty or unneeded directories
* building ‘harrypotter_0.1.0.tar.gz’

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘Rcpp’, ‘SnowballC’, ‘janeaustenr’, ‘tokenizers’

# Function
Function is not new to use, we have been using `functions` right from day-1. 

`print`, `filter`, `tibble` - are all functions. 

Try 

`class(print)`

Today we will learn to write our own functions

### Why write out own functions??

Often when programming we find ourselves repeating the same block of code with minor modifications. 

Did you encounter this situation in your HW7 when you applied the same logic again and again, while deriving the sentiment score for all the Harry Potter books??

That is precisely when a function is defined to save ourselves from repetition!

Let us start with simple examples. When building machine learning models (which you will learn next week) it is common practice to normalize all the columns values to the same scale; typically between 0 and 1. Let us take the `mpg` dataset and see its current min and max values:

In [96]:
class(print)

[1] "function"

In [ ]:
mpg$hwy %>% range

[1] 12 44

Let us now normalize it

In [98]:
hwy_a <- (mpg$hwy - min(mpg$hwy, na.rm = TRUE)) / (max(mpg$hwy, na.rm = TRUE) - min(mpg$hwy, na.rm = TRUE))
hwy_a %>% range

[1] 0 1

We need to do the exact same for all columns; to begin with let us do for all numerical columns. And it is easy to copy and paste the same code from above and change the variable names

In [ ]:
cty_a <- (mpg$cty - min(mpg$cty, na.rm = TRUE)) / (max(mpg$cty, na.rm = TRUE) - min(mpg$hwy, na.rm = TRUE))
cty_a %>% range

[1] 0.000000 1.130435

Do you want to use HackerRank to compenstate your iClicker participate score

* A - Yes
* B - No

🤔 Quiz

Why is the range not showing a maximum of 1?

* A. For the `cty` values it cannot have a maximum value of 1
* B. The numerator should use `max` function
* C. Copy-paste technique not done correctly is the reason for a `flaw` in the formula

We still need to do the exact same procedure for all other columns as well and so intead of repeating ourselves we can introduce a function to do the repeats.

In [112]:
rescale <- function(x){
  (x - min(x, na.rm = TRUE)) / (max(x, na.rm = TRUE) - min(x, na.rm = TRUE))
}
rescale(mpg$hwy) %>% range
rescale(mpg$cyl) %>% range

[1] 0 1

[1] 0 1

In [102]:
mpg %>% glimpse

Rows: 234
Columns: 11
$ manufacturer <chr> "audi", "audi", "audi", "audi", "audi", "audi", "audi", "…
$ model        <chr> "a4", "a4", "a4", "a4", "a4", "a4", "a4", "a4 quattro", "…
$ displ        <dbl> 1.8, 1.8, 2.0, 2.0, 2.8, 2.8, 3.1, 1.8, 1.8, 2.0, 2.0, 2.…
$ year         <int> 1999, 1999, 2008, 2008, 1999, 1999, 2008, 1999, 1999, 200…
$ cyl          <int> 4, 4, 4, 4, 6, 6, 6, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 8, 8, …
$ trans        <chr> "auto(l5)", "manual(m5)", "manual(m6)", "auto(av)", "auto…
$ drv          <chr> "f", "f", "f", "f", "f", "f", "f", "4", "4", "4", "4", "4…
$ cty          <int> 18, 21, 20, 21, 16, 18, 18, 18, 16, 20, 19, 15, 17, 17, 1…
$ hwy          <int> 29, 29, 31, 30, 26, 26, 27, 26, 25, 28, 27, 25, 25, 25, 2…
$ fl           <chr> "p", "p", "p", "p", "p", "p", "p", "p", "p", "p", "p", "p…
$ class        <chr> "compact", "compact", "compact", "compact", "compact", "c…

## Anatomy of a function
To write a function we should first think about the inputs and output. A function takes input(s), does something(s) to them, and then returns an output.

🤔 Quiz

What is the output of our rescale function?

* A. x
* B. nothing
* C. rescaled vector values

In R, it is not necessary to use a `return` keyword to specify the return value of a function. The return value of a function is simply the value of the last expression evaluated within the function body.

### Multiple return example


This function returns 'fizz' if the given number is a multiple of 3. 'buzz' if it is a multiple of 5. If neither a multiple of 3 or 5, it simply returns the given number

In [118]:
fizzbuzz <- function(x){
  if(x %% 3 == 0){
    return('fizz')
  } else if(x %% 5 == 0){
    return('buzz')
  }
  return (x)
}

fizzbuzz(7)

[1] 7


### Arguments

Functions will often have multiple arguments. Some arguments have default values, others do not. All arguments without default values must be passed to a function. Arguments can be passed by name or position. For instance,

In [119]:
# generate 5 numbers from a Normal(0, 1) distribution.
w = rnorm(5, mean = 0, sd = 1)
x = rnorm(n = 5, mean = 0, sd = 1)
y = rnorm(5, 0, 1)
z = rnorm(5)
round(cbind(w, x, y, z), 1)

     w    x    y
[1,]  0.3 -0.6 -0.6
[2,] -0.1 -1.3  0.2
[3,]  1.1 -1.4 -0.1
[4,] -0.3  0.0 -0.1
[5,] -0.8 -0.1  0.7

Arguments passed by name need not be in order:

In [120]:
w = rnorm(mean = 0, sd = 1, n = 5)
u = rnorm(mean = 0, sd = 1, 5) # This also works but is bad style. 
round(rbind(u = u, w = w), 1)

# unnamed arguments get passed to the first argument after the names arguments are assigned

  [,1] [,2] [,3] [,4] [,5]
u  0.3 0.2  -0.3  0.3 1.6
w -0.1 0.3  -0.7 -0.2 1.7

# z-score function

Let us create a function to compute z-scores of a vector

In [126]:
# function to compute z-scores
z_score1 <- function(x) {
  #inputs: x - a numeric vector
  #outputs: the z-scores for x
  xbar = mean(x)
  s = sd(x)
  print(s)
  z = (x - xbar) / s
  return(z)  
}

result <- z_score1(c(10,11,23))
result

[1] 7.234178

[1] -0.6450859 -0.5068532  1.1519392

The return statement is not strictly necessary, but can make complex functions more readable. It is good practice to avoid creating intermediate objects to store values only used once.

In [128]:
# function to compute z-scores
z_score2 = function(x){
  #inputs: x - a numeric vector
  #outputs: the z-scores for x
  (x - mean(x)) / sd(x)
}

z_score2(c(10,11,23))

[1] -0.6450859 -0.5068532  1.1519392

In [129]:
x = rnorm(10, 3, 1) ## generate some normally distributed values
round(cbind(x, 'Z1' = z_score1(x), 'Z2' = z_score2(x) ), 1)

[1] 0.9154493

      x   Z1   Z2
 [1,] 4.1  1.0  1.0
 [2,] 3.1 -0.1 -0.1
 [3,] 4.1  1.0  1.0
 [4,] 4.4  1.3  1.3
 [5,] 3.1 -0.1 -0.1
 [6,] 2.8 -0.4 -0.4
 [7,] 4.0  0.8  0.8
 [8,] 2.1 -1.2 -1.2
 [9,] 2.2 -1.1 -1.1
[10,] 2.0 -1.3 -1.3

### Default Parameters

We can set default values for parameters using the construction `parameter = xx` in the function definition.

In [130]:
# function to compute z-scores
z_score3 = function(x, na.rm = T){
  {x - mean(x, na.rm = na.rm)} / sd(x, na.rm = na.rm)
}

In [131]:
x = c(NA, x, NA)
round( cbind(x, 'Z1' = z_score1(x), 'Z2' = z_score2(x), 'Z3' = z_score3(x) ), 1)

[1] NA

      x   Z1 Z2 Z3
 [1,]  NA NA NA   NA
 [2,] 4.1 NA NA  1.0
 [3,] 3.1 NA NA -0.1
 [4,] 4.1 NA NA  1.0
 [5,] 4.4 NA NA  1.3
 [6,] 3.1 NA NA -0.1
 [7,] 2.8 NA NA -0.4
 [8,] 4.0 NA NA  0.8
 [9,] 2.1 NA NA -1.2
[10,] 2.2 NA NA -1.1
[11,] 2.0 NA NA -1.3
[12,]  NA NA NA   NA

## Scope

Scoping refers to how R looks up the value associated with an object referred to by name. There are two types of scoping – lexical and dynamic – but we will concern ourselves only with lexical scoping here. There are four keys to understanding scoping:

- environments
- name masking
- variables vs functions
- dynamic look up

An environment can be thought of as a context in which names are associated with objects. Each time a function is called, it generates a new environment for the computation.

Consider the following examples:

In [132]:
ls()

 [1] "d1"             "f2"             "fizzbuzz"       "hwy_a"
 [5] "nearest_friday" "rescale"        "result"         "str_d"
 [9] "test"           "u"              "w"              "x"
[13] "y"              "z"              "z_score1"       "z_score2"
[17] "z_score3"

In [136]:
f1 = function() {
  f1_message = "I'm defined inside of f!"  # `message` is a function in base
  x = 10
  ls()
}
f1()
ls()

[1] "f1_message" "x"

 [1] "d1"             "f1"             "f2"             "fizzbuzz"
 [5] "hwy_a"          "nearest_friday" "rescale"        "result"
 [9] "str_d"          "test"           "u"              "w"
[13] "x"              "y"              "z"              "z_score1"
[17] "z_score2"       "z_score3"

In [137]:
exists('f1') # f1 %in% ls()

[1] TRUE

In [140]:
# what about f1_message?
exists('f1_message')

[1] FALSE

In [ ]:
environment() # here we are in the global environment

In [141]:
f2 = function(){
  environment() # here we are in the local environment -- each time we get a different local environment
    # created for the purpose of this function
}
f2()

In [142]:
rm(f1, f2)

In [143]:
exists('f1')

[1] FALSE

Name masking refers to where and in what order `R` looks for object names.
When we call `f1` above, `R` first looks in the current environment which happens to be the global environment. The call to `ls()` however, happens within the environment created by the function call and hence returns only the objects defined in the local environment.

When an environment is created, it gets nested within the current environment referred to as the “parent environment”. When an object is referenced we first look in the current environment and move recursively up through parent environments until we find a value bound to that name.

Name masking refers to the notion that objects of the same name can exist in different environments. Consider these examples:

In [145]:
#  Example 3 -- lexical scoping
y = 'Y - I came from outside of f!'
x = 'X - I came from outside of f!'
f3 = function(){
  x =  'I came from inside of f!'
  print(paste("x =", x, "and y =", y))
}
f3()

[1] "x = I came from inside of f! and y = Y - I came from outside of f!"

In [146]:
print(paste("outside-x =", x, "and outside-y =", y))

[1] "outside-x = X - I came from outside of f! and outside-y = Y - I came from outside of f!"

* x is redefined inside the function enviornment
* y is not, so R will search for y in the parent environment and keep moving up
* x that is associated with f3, is not going to change the x in the global environment, unless we explicitly write the code to do that

In [148]:
#  Example 4 -- masking
mean = function(x){ 
    sum(x)
}
mean(1:10)

[1] 55

In [ ]:
base::mean(1:10)

[1] 5.5

In [149]:
rm(mean)

R also uses dynamic look up, meaning values are searched for when a function is called, not when it is created. In the example above, y was defined in the global environment rather than within the function body. This means the value returned by f3 depends on the value of y in the global environment. You should generally avoid this, but there are occasions where it can be useful.

In [ ]:
# Example 5 - dynamic lookup
y = "I have been reinvented!"
f3()

$x
[1] "I came from inside of f!"

$y
[1] "I have been reinvented!"

## Dataframe functions

A case of a problem of `indirection`, as `dplyr` uses `tidy evaluation` to allow you to refer to the names of variables inside your data frame without any special treatment.

In [150]:
grouped_mean <- function(df, group_var, mean_var) {
  df %>% 
    group_by(group_var) %>%
    summarize(mean(mean_var))
}

grouped_mean(mpg, model, hwy)

ERROR: ignored

In [ ]:
mpg %>% group_by(model) %>% summarise(mean(hwy))

  model              mean(hwy)
1 4runner 4wd        18.83333
2 a4                 28.28571
3 a4 quattro         25.75000
4 a6 quattro         24.00000
5 altima             28.66667
6 c1500 suburban 2wd 17.80000

### Fix with embracing `{{ }}`

In [154]:
grouped_mean <- function(df, group_var, mean_var) {
  df %>% 
    group_by({{ group_var }}) |> 
    summarize(mean({{ mean_var }}))
}

grouped_mean(mpg, model, hwy) %>% head

  model              mean(hwy)
1 4runner 4wd        18.83333
2 a4                 28.28571
3 a4 quattro         25.75000
4 a6 quattro         24.00000
5 altima             28.66667
6 c1500 suburban 2wd 17.80000

In [153]:
mpg %>% group_by(model) %>% summarise(mean(hwy))

   model                  mean(hwy)
1  4runner 4wd            18.83333
2  a4                     28.28571
3  a4 quattro             25.75000
4  a6 quattro             24.00000
5  altima                 28.66667
6  c1500 suburban 2wd     17.80000
7  camry                  28.28571
8  camry solara           28.14286
9  caravan 2wd            22.36364
10 civic                  32.55556
11 corolla                34.00000
12 corvette               24.80000
13 dakota pickup 4wd      17.00000
14 durango 4wd            16.00000
15 expedition 2wd         17.33333
16 explorer 4wd           18.00000
17 f150 pickup 4wd        16.42857
18 forester awd           25.00000
19 grand cherokee 4wd     17.62500
20 grand prix             26.40000
21 gti                    27.40000
22 impreza awd            26.00000
23 jetta                  29.11111
24 k1500 tahoe 4wd        16.25000
25 land cruiser wagon 4wd 16.50000
26 malibu                 27.60000
27 maxima                 25.33333
28 mountaineer 4wd        18.00000
29 mustang                23.22222
30 navigator 2wd          17.00000
31 new beetle             32.83333
32 passat                 27.57143
33 pathfinder 4wd         18.00000
34 ram 1500 pickup 4wd    15.30000
35 range rover            16.50000
36 sonata                 27.71429
37 tiburon                26.00000
38 toyota tacoma 4wd      19.42857

### When to embrace?🤔

There are two terms to look for in the docs which correspond to the two most common sub-types of tidy evaluation:

* Data-masking: this is used in functions like arrange(), filter(), and summarize() that compute with variables.

* Tidy-selection: this is used for functions like select(), relocate(), and rename() that select variables.

In [155]:
?select

In [ ]:
?summarize

## Pick function

Applied for verbs that use data-masking when sub-selecting the columns

In [ ]:
?pick

In [ ]:
mean_hwy <- function(df, var1, var2, var_3) {
  df |> 
    group_by({{ var1 }}, {{ var2 }}) |> 
    summarize(
      mean = mean(is.na({{ var_3 }})),
      .groups = "drop"
    )
}

mpg |> 
  mean_hwy(manufacturer, model, hwy) %>% head

  manufacturer model              mean
1 audi         a4                 0
2 audi         a4 quattro         0
3 audi         a6 quattro         0
4 chevrolet    c1500 suburban 2wd 0
5 chevrolet    corvette           0
6 chevrolet    k1500 tahoe 4wd    0

## Using pick

In [ ]:
mean_hwy <- function(df, var1, var2) {
  df |> 
    group_by(pick({{ var1 }})) |> 
    summarize(
      mean = mean(is.na({{ var2 }})),
      .groups = "drop"
    )
}

mpg |> 
  mean_hwy(c(manufacturer, model), hwy) %>% head

  manufacturer model              mean
1 audi         a4                 0
2 audi         a4 quattro         0
3 audi         a6 quattro         0
4 chevrolet    c1500 suburban 2wd 0
5 chevrolet    corvette           0
6 chevrolet    k1500 tahoe 4wd    0

### Other useful functions

### `bind_rows`

To combine multiple dataframe into one large dataframe, you cna use `bind_rows`.
Recollect you encountered the need for this in hw7 although you could have solved the problems without knowing about this, it would have been easier if you knew this!

In [ ]:
phil_tbl <- tibble(chapter=seq_along(philosophers_stone), text=philosophers_stone)
chamber_tbl <- tibble(chapter=seq_along(chamber_of_secrets), text=chamber_of_secrets)
prisoner_tbl <- tibble(chapter=seq_along(prisoner_of_azkaban), text=prisoner_of_azkaban)
goblet_tbl <- tibble(chapter=seq_along(goblet_of_fire), text=goblet_of_fire)
order_of_tbl <- tibble(chapter=seq_along(order_of_the_phoenix), text=order_of_the_phoenix)
half_blood_tbl <- tibble(chapter=seq_along(half_blood_prince), text=half_blood_prince)
deathly_tbl <- tibble(chapter=seq_along(deathly_hallows), text=deathly_hallows)

combined <- bind_rows(phil_tbl, chamber_tbl, prisoner_tbl, goblet_tbl, order_of_tbl, half_blood_tbl, deathly_tbl)

In [ ]:
combined %>% glimpse

If the data frames have different column names or types, bind_rows will try to match them based on their column names, and it will coerce the columns to a common type if necessary.

### `purr::map` function

When you want to apply a function to individual elements of a list, a good option to consider is `map`

In [156]:
my_list <- list(1:5, 6:10, 11:15)

print(my_list)

# Add 2 to each element in the list using map()
my_list_plus_two <- map(my_list, ~ .x + 2)

# Print the result
my_list_plus_two

[[1]]
[1] 1 2 3 4 5

[[2]]
[1]  6  7  8  9 10

[[3]]
[1] 11 12 13 14 15

[[1]]
[1] 3 4 5 6 7

[[2]]
[1]  8  9 10 11 12

[[3]]
[1] 13 14 15 16 17

### Using `map_dfr` 

While map is applied to a list or vector, `map_dfr` can be used to apply functions on dataframe.

In [ ]:
books = c(
    "philosophers_stone",
    "chamber_of_secrets", 
    "prisoner_of_azkaban",
    "goblet_of_fire", 
    "half_blood_prince",
    "order_of_the_phoenix",
    "deathly_hallows"
)

combined <- map_dfr(books, ~ tibble(book=., chapter=seq_along(get(.)), text=get(.))) %>%
  glimpse

Now it is good idea to re-factor your HW7 to use all of these new functions!

## What is refactoring?

In software it is customary to first get 'a' solution for a problem.  Once you have a working software, you should always think through and see if there are opportunities to make things better. That step is called refactoring!
Invariably everytime you relook at your code, you will find opportunities to make things better. Some of the things that stand out are
* Code that is repeating - pull them over to a function
* Renaming your variables to make it more meaningful so that a third person who looks at your code can understand what you are trying to do (sometimes it helps you to recollect what you were doing, when you revisit your code after a few months)
* See if there are other builtin functions that you replace your code with 

These are only some tips, to get your started in refactoring path. However, attempting to write the best code possible to begin with itself could take you in an analysis-paralysis mode. So the first step always is to get it working in some form and then think of refactoring. However, as you gain experience, you will apply the correct methods itself in your first attempt.
But in anycase writing code itself is a iterating process