# Lecture 09: SQL
<div style="border: 1px double black; padding: 10px; margin: 10px">

**Goals for today's lecture:**
* Learn SQL (Structured Query Language)
</div>

A huge amount of data lives in relational databases so it is important to understand how to connect to a relational database and work with it.

To connect to the database from R, you’ll use a pair of packages:

* DBI (database interface) - this provides a set of generic functions that connect to the database, upload data, run SQL queries, etc.
* You’ll also use a package tailored for the DBMS you’re connecting to. This package translates the generic DBI commands into the specifics needed for a given DBMS. There’s usually one package for each DMBS, e.g. RPostgres for Postgres and RMariaDB for MySQL. In this example we use SQLite and the package to use is **RSQLite**

In [ ]:
# install.packages('RSQLite')  # if required

In [1]:
library(DBI)
library(dbplyr)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   1.0.0
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.5.0
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::ident()  masks dbplyr::ident()
✖ dplyr::lag()    masks stats::lag()
✖ dplyr::sql()    masks dbplyr::sql()

In [33]:
library(DBI)
# Create an ephemeral in-memory RSQLite database
con <- dbConnect(RSQLite::SQLite(), ":memory:")

dbListTables(con)

character(0)

At the outset you see that there are no tables when you run the above command. 

### dbplyr
dbplyr is a dplyr backend, that allows you to keep writing dplyr code and **dbplyr** translates it to SQL. 
Now we are going to create a table called 'mpg' in our SQLite database using the mpg tibble and dbplyr is generating the necessary SQL queries to get this done behind the scenes.

In [62]:
dbWriteTable(con, "mpg", mpg, overwrite=T)
dbListTables(con)

[1] "mpg"   "mpg-d"

In [65]:
# dbRemoveTable(con, 'mpg-d')

In [57]:
?dbWriteTable

dbWriteTable                package:DBI                R Documentation

_C_o_p_y _d_a_t_a _f_r_a_m_e_s _t_o _d_a_t_a_b_a_s_e _t_a_b_l_e_s

_D_e_s_c_r_i_p_t_i_o_n:

     Writes, overwrites or appends a data frame to a database table,
     optionally converting row names to a column and specifying SQL
     data types for fields.

  _M_e_t_h_o_d_s _i_n _o_t_h_e_r _p_a_c_k_a_g_e_s:

       This documentation page describes the generics. Refer to the
       documentation pages linked below for the documentation for the
       methods that are implemented in various backend packages.

         • ‘RSQLite::dbWriteTable("SQLiteConnection", "character",
           "character")’

         • ‘RSQLite::dbWriteTable("SQLiteConnection", "character",
           "data.frame")’


_U_s_a_g_e:

     dbWriteTable(conn, name, value, ...)

_A_r_g_u_m_e_n_t_s:

    conn: A DBIConnection object, as returned by ‘dbConnect()’.

    name: The table name, passed on to ‘dbQuoteIdentifier()’. Options
          are:

            • a character string with the unquoted DBMS table name,
              e.g. ‘"table_name"’,

            • a call to ‘Id()’ with components to the fully qualified
              table name, e.g. ‘Id(schema = "my_schema", table =
              "table_name")’

            • a call to ‘SQL()’ with the quoted and fully qualified
              table name given verbatim, e.g.
              ‘SQL('"my_schema"."table_name"')’

   value: a data.frame (or coercible to data.frame).

     ...: Other parameters passed on to methods.

_D_e_t_a_i_l_s:

     This function is useful if you want to create and load a table at
     the same time. Use ‘dbAppendTable()’ for appending data to a
     table, and ‘dbCreateTable()’, ‘dbExistsTable()’ and
     ‘dbRemoveTable()’ for more control over the individual operations.

     DBI only standardizes writing data frames. Some backends might
     implement methods that can consume CSV files or other data
     formats. For details, see the documentation for the individual
     methods.

_V_a_l_u_e:

     ‘dbWriteTable()’ returns ‘TRUE’, invisibly.

_F_a_i_l_u_r_e _m_o_d_e_s:

     If the table exists, and both ‘append’ and ‘overwrite’ arguments
     are unset, or ‘append = TRUE’ and the data frame with the new data
     has different column names, an error is raised; the remote table
     remains unchanged.

     An error is raised when calling this method for a closed or
     invalid connection. An error is also raised if ‘name’ cannot be
     processed with ‘dbQuoteIdentifier()’ or if this results in a
     non-scalar. Invalid values for the additional arguments
     ‘row.names’, ‘overwrite’, ‘append’, ‘field.types’, and ‘temporary’
     (non-scalars, unsupported data types, ‘NA’, incompatible values,
     duplicate or missing names, incompatible columns) also raise an
     error.

_A_d_d_i_t_i_o_n_a_l _a_r_g_u_m_e_n_t_s:

     The following arguments are not part of the ‘dbWriteTable()’
     generic (to improve compatibility across backends) but are part of
     the DBI specification:

        • ‘row.names’ (default: ‘FALSE’)

        • ‘overwrite’ (default: ‘FALSE’)

        • ‘append’ (default: ‘FALSE’)

        • ‘field.types’ (default: ‘NULL’)

        • ‘temporary’ (default: ‘FALSE’)

     They must be provided as named arguments. See the "Specification"
     and "Value" sections for details on their usage.

_S_p_e_c_i_f_i_c_a_t_i_o_n:

     The ‘name’ argument is processed as follows, to support databases
     that allow non-syntactic names for their objects:

        • If an unquoted table name as string: ‘dbWriteTable()’ will do
          the quoting, perhaps by calling ‘dbQuoteIdentifier(conn, x =
          name)’

        • If the result of a call to ‘dbQuoteIdentifier()’: no more
          quoting is done

     The ‘value’ argument must be a data frame with a subset of the
     columns of the existing table if ‘append = TRUE’. The order of the
     columns does not matter with ‘append = TRUE’.

     If the ‘overwrite’ argument is ‘TRUE’, an existing table of the
     same name will be overwritten. This argument doesn't change
     behavior if the table does not exist yet.

     If the ‘append’ argument is ‘TRUE’, the rows in an existing table
     are preserved, and the new data are appended. If the table doesn't
     exist yet, it is created.

     If the ‘temporary’ argument is ‘TRUE’, the table is not available
     in a second connection and is gone after reconnecting. Not all
     backends support this argument. A regular, non-temporary table is
     visible in a second connection, in a pre-existing connection, and
     after reconnecting to the database.

     SQL keywords can be used freely in table names, column names, and
     data. Quotes, commas, spaces, and other special characters such as
     newlines and tabs, can also be used in the data, and, if the
     database supports non-syntactic identifiers, also for table names
     and column names.

     The following data types must be supported at least, and be read
     identically with ‘dbReadTable()’:

        • integer

        • numeric (the behavior for ‘Inf’ and ‘NaN’ is not specified)

        • logical

        • ‘NA’ as NULL

        • 64-bit values (using ‘"bigint"’ as field type); the result
          can be

            • converted to a numeric, which may lose precision,

            • converted a character vector, which gives the full
              decimal representation

            • written to another table and read again unchanged

        • character (in both UTF-8 and native encodings), supporting
          empty strings before and after a non-empty string

        • factor (returned as character)

        • list of raw (if supported by the database)

        • objects of type blob::blob (if supported by the database)

        • date (if supported by the database; returned as ‘Date’), also
          for dates prior to 1970 or 1900 or after 2038

        • time (if supported by the database; returned as objects that
          inherit from ‘difftime’)

        • timestamp (if supported by the database; returned as
          ‘POSIXct’ respecting the time zone but not necessarily
          preserving the input time zone), also for timestamps prior to
          1970 or 1900 or after 2038 respecting the time zone but not
          necessarily preserving the input time zone)

     Mixing column types in the same table is supported.

     The ‘field.types’ argument must be a named character vector with
     at most one entry for each column. It indicates the SQL data type
     to be used for a new column. If a column is missed from
     ‘field.types’, the type is inferred from the input data with
     ‘dbDataType()’.

     The interpretation of rownames depends on the ‘row.names’
     argument, see ‘sqlRownamesToColumn()’ for details:

        • If ‘FALSE’ or ‘NULL’, row names are ignored.

        • If ‘TRUE’, row names are converted to a column named
          "row_names", even if the input data frame only has natural
          row names from 1 to ‘nrow(...)’.

        • If ‘NA’, a column named "row_names" is created if the data
          has custom row names, no extra column is created in the case
          of natural row names.

        • If a string, this specifies the name of the column in the
          remote table that contains the row names, even if the input
          data frame only has natural row names.

     The default is ‘row.names = FALSE’.

_S_e_e _A_l_s_o:

     Other DBIConnection generics: ‘DBIConnection-class’,
     ‘dbAppendTable()’, ‘dbCreateTable()’, ‘dbDataType()’,
     ‘dbDisconnect()’, ‘dbExecute()’, ‘dbExistsTable()’,
     ‘dbGetException()’, ‘dbGetInfo()’, ‘dbGetQuery()’,
     ‘dbIsReadOnly()’, ‘dbIsValid()’, ‘dbListFields()’,
     ‘dbListObjects()’, ‘dbListResults()’, ‘dbListTables()’,
     ‘dbReadTable()’, ‘dbRemoveTable()’, ‘dbSendQuery()’,
     ‘dbSendStatement()’

_E_x_a_m_p_l_e_s:

     con <- dbConnect(RSQLite::SQLite(), ":memory:")

     dbWriteTable(con, "mtcars", mtcars[1:5, ])
     dbReadTable(con, "mtcars")

     dbWriteTable(con, "mtcars", mtcars[6:10, ], append = TRUE)
     dbReadTable(con, "mtcars")

     dbWriteTable(con, "mtcars", mtcars[1:10, ], overwrite = TRUE)
     dbReadTable(con, "mtcars")

     # No row names
     dbWriteTable(con, "mtcars", mtcars[1:10, ], overwrite = TRUE, row.names = FALSE)
     dbReadTable(con, "mtcars")

Now let us look into the column names of this table

In [55]:
dbListFields(con, "mpg")

 [1] "manufacturer" "model"        "displ"        "year"         "cyl"
 [6] "trans"        "drv"          "cty"          "hwy"          "fl"
[11] "class"

Time to read the entire table!

In [56]:
dbReadTable(con, "mpg")

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
⋮   ⋮            ⋮                  ⋮     ⋮    ⋮   ⋮          ⋮   ⋮   ⋮   ⋮
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class
1   compact
2   compact
3   compact
4   compact
5   compact
6   compact
7   compact
8   compact
9   compact
10  compact
11  compact
12  compact
13  compact
14  compact
15  compact
16  midsize
17  midsize
18  midsize
19  suv
20  suv
21  suv
22  suv
23  suv
24  2seater
25  2seater
26  2seater
27  2seater
28  2seater
29  suv
30  suv
⋮   ⋮
205 pickup
206 pickup
207 pickup
208 compact
209 compact
210 compact
211 compact
212 compact
213 compact
214 compact
215 compact
216 compact
217 compact
218 compact
219 compact
220 compact
221 compact
222 subcompact
223 subcompact
224 subcompact
225 subcompact
226 subcompact
227 subcompact
228 midsize
229 midsize
230 midsize
231 midsize
232 midsize
233 midsize
234 midsize

Let us select some records

In [53]:
res <- dbSendQuery(con, "SELECT * FROM mpg WHERE cyl = 4")

ERROR: Error: near "-": syntax error

In [16]:
dbFetch(res)

     manufacturer model displ year cyl trans drv cty hwy fl class

In [17]:
dbClearResult(res)

In [18]:
dbFetch(res)

ERROR: Error: Invalid result set

Can also get 1 row at a time

In [30]:
res <- dbSendQuery(con, "SELECT * FROM mpg WHERE manufacturer = 'audi'")
while(!dbHasCompleted(res)){
  row <- dbFetch(res)
  print(row)
}

   manufacturer      model displ year cyl      trans drv cty hwy fl   class
1          audi         a4   1.8 1999   4   auto(l5)   f  18  29  p compact
2          audi         a4   1.8 1999   4 manual(m5)   f  21  29  p compact
3          audi         a4   2.0 2008   4 manual(m6)   f  20  31  p compact
4          audi         a4   2.0 2008   4   auto(av)   f  21  30  p compact
5          audi         a4   2.8 1999   6   auto(l5)   f  16  26  p compact
6          audi         a4   2.8 1999   6 manual(m5)   f  18  26  p compact
7          audi         a4   3.1 2008   6   auto(av)   f  18  27  p compact
8          audi a4 quattro   1.8 1999   4 manual(m5)   4  18  26  p compact
9          audi a4 quattro   1.8 1999   4   auto(l5)   4  16  25  p compact
10         audi a4 quattro   2.0 2008   4 manual(m6)   4  20  28  p compact
11         audi a4 quattro   2.0 2008   4   auto(s6)   4  19  27  p compact
12         audi a4 quattro   2.8 1999   6   auto(l5)   4  15  25  p compact
13         audi a4 quattro   2.8 1999   6 manual(m5)   4  17  25  p compact
14         audi a4 quattro   3.1 2008   6   auto(s6)   4  17  25  p compact
15         audi a4 quattro   3.1 2008   6 manual(m6)   4  15  25  p compact
16         audi a6 quattro   2.8 1999   6   auto(l5)   4  15  24  p midsize
17         audi a6 quattro   3.1 2008   6   auto(s6)   4  17  25  p midsize
18         audi a6 quattro   4.2 2008   8   auto(s6)   4  16  23  p midsize

### Solve
Find the max highway miles across each manufacturer

In [48]:
res <- dbSendQuery(con, "")
dbFetch(res)
dbClearResult(res)

   manufacturer max(hwy)
1  land rover   18
2  lincoln      18
3  mercury      19
4  jeep         22
5  dodge        24
6  ford         26
7  subaru       27
8  pontiac      28
9  chevrolet    30
10 audi         31
11 hyundai      31
12 nissan       32
13 honda        36
14 toyota       37
15 volkswagen   44

## 🤔 Quiz

How many 4 cylinder models are present in this database?

<ol style="list-style-type: upper-alpha;">
    <li>81</li>
    <li>52</li>
    <li>63</li>
    <li>91</li>
</ol>

In [ ]:
# fill in the blanks
res <- dbSendQuery(con, "")
dbFetch(res)
dbClearResult(res)

### Solve
Extend the above query to retrieve the minimum hwy value across manufacturer and model

In [67]:
res <- dbSendQuery(con, "")
dbFetch(res)
dbClearResult(res)

   manufacturer model                  min(hwy)
1  audi         a4                     26
2  audi         a4 quattro             25
3  audi         a6 quattro             23
4  chevrolet    c1500 suburban 2wd     15
5  chevrolet    corvette               23
6  chevrolet    k1500 tahoe 4wd        14
7  chevrolet    malibu                 26
8  dodge        caravan 2wd            17
9  dodge        dakota pickup 4wd      12
10 dodge        durango 4wd            12
11 dodge        ram 1500 pickup 4wd    12
12 ford         expedition 2wd         17
13 ford         explorer 4wd           17
14 ford         f150 pickup 4wd        15
15 ford         mustang                20
16 honda        civic                  29
17 hyundai      sonata                 26
18 hyundai      tiburon                24
19 jeep         grand cherokee 4wd     12
20 land rover   range rover            15
21 lincoln      navigator 2wd          16
22 mercury      mountaineer 4wd        17
23 nissan       altima                 26
24 nissan       maxima                 25
25 nissan       pathfinder 4wd         17
26 pontiac      grand prix             25
27 subaru       forester awd           23
28 subaru       impreza awd            25
29 toyota       4runner 4wd            17
30 toyota       camry                  26
31 toyota       camry solara           26
32 toyota       corolla                30
33 toyota       land cruiser wagon 4wd 15
34 toyota       toyota tacoma 4wd      17
35 volkswagen   gti                    24
36 volkswagen   jetta                  23
37 volkswagen   new beetle             26
38 volkswagen   passat                 26

### Solve
Get all the manufacturers who have 4 or more 'compact' car class

In [71]:
res <- dbSendQuery(con, "select manufacturer, class, count(*) from mpg where class='compact' group by manufacturer having count(*) >= 4")
dbFetch(res)
dbClearResult(res)

  manufacturer class   count(*)
1 audi         compact 15
2 subaru       compact  4
3 toyota       compact 12
4 volkswagen   compact 14

### Solve
Get distinct car manufacturers in this dataset

In [72]:
res <- dbSendQuery(con, "")
dbFetch(res)
dbClearResult(res)

   manufacturer
1  audi
2  chevrolet
3  dodge
4  ford
5  honda
6  hyundai
7  jeep
8  land rover
9  lincoln
10 mercury
11 nissan
12 pontiac
13 subaru
14 toyota
15 volkswagen

Once done, it is a good idea to disconnect from the database

In [31]:
dbClearResult(res)
dbDisconnect(con)